<div class="input-field col s7">
  <input id="subscribeTopic" name="subscribeTopic" type="text" class="validate">
  <label for="subscribeTopic" class="active">Topic</label>
</div>
<div class="input-field col s5">
  <input class="btn green" type="button" id="subscribe" name="save"
         value="Subscribe" disabled>
</div>

<table class="bordered">
  <thead>
  <tr>
    <th data-field="topic">Topic</th>
    <th data-field="message">Unsubscribe</th>
  </tr>
  </thead>
  <tbody id="subcribes"></tbody>
</table>
